* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}


.navbar{
	background: green;
	padding: 10px 20px;
}
 
.teks-logo{
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
 
.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-navbar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu{
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;			
}
 
.menu li{
	padding-left: 0;
	margin-right: 10px;
}
 
.menu li a{
	padding:10px;
	color: white;
	text-decoration: none;
	display: inline-block;
} 
.tombol{
	display: none;
	color: white;
	font-size: 14pt;			
}
 
.tombol:hover{
	cursor: pointer;
}

section {
	padding: 10px 10px;
	h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 10px;
		padding-bottom: 20px;
	}
}

.content1 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-content: center;
	justify-content: flex-start;
	gap: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	position: relative;
	.img-content1 {
		border: 1px solid black;
		border-radius: 30px; 
	}
}
.content1::before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/IMG/Foto1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
}
.teks-content1 {
	text-align: center;
	text-align: justify;
	line-height: 22px;
	padding: 10px;
}

.home-articles {
	padding: 18px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 23px;
	position: relative;
}
  
.home-article {
	display: flex;
	margin: 25px;
}
  
.home-article img {
	width: 300px;
}
  
.home-article-content {
	align-self: center;
	padding: 25px;
}
  
.home-article-content a {
	text-decoration: none;
	color: black;
}

footer{
	clear: both;
	margin-bottom: 0;
	background: green;
	bottom:0;
	width:100%;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align:center;
	justify-content: center;
	color: white;
	font-size: 15px;
}

@media screen and (max-width: 768px) {
    .logo-navbar{
        img{
            width: 15%;
            height: auto;
        }
        .teks-logo{
            font-size: 75%;
        }
    }

	.menu {
		display: none;
	}
 
	.menu.aktif{
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		position: absolute;
		top: 70px;
		background: green;
		padding: 10px 20px;
		right: 0;
		left: 0;
		z-index: 10;
	}
 
	.menu.aktif li a{
		padding: 10px;
		display: inline-block !important;
        font-size: 75%;
	}
 
	.tombol {
		display: block;
        font-size: 150%;
	}
	h1 {
		display: flex;
		font-size: 20px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.content1 {
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		.img-content1 {
			display: block;
			margin: 0;
			max-width: 100%;
		}
		h2{
			font-size: 15px;
		}
		h4{
			font-size: 13px;
		}
	}

	.home-article{
		display: flex;
		flex-wrap: wrap;
		/* justify-content: center; */
		text-align: start;
		.home-article-img{
			img{
				width: 100%;;
			}
		}

	}
	
}